mixin button(params)
  if (params.type === 'like')
    - let liked = params.liked ? 'btn_like--liked' : 'btn_like--not-liked'
    - const icon = params.liked ? 'favorite' : 'favorite_border'
    button.btn.btn_like(
      class=liked,
      name=params.name,
      value=params.value
    )
      span.material-icons.btn_like__icon=icon
      span=params.value

  else if (params.type === 'rate')
    // - let checked = '';
    .rate_wrap
      - for (let num=1; num<=5; num+=1)
        - const checked = (num <= params.rate) ? 'star' : 'star_border';
        span.material-icons.rate__element=checked

