mixin input(params)
  if (params.type === 'checkbox')
    label.input__wrap
      input.input__element(
        type=params.type,
        name=params.name,
        value=params.value,
        checked=params.checked,
      )
      .input__label=params.label

  else if (params.type === 'radio')
    label.input__wrap
      input.input__element.input__element--radio(
        type=params.type,
        name=params.name,
        value=params.value,
        checked=params.checked,
      )
      .input__label=params.label

  else if (params.type === 'toggle')
    label.input__wrap.input__wrap--toggle
      input.input__toggle(
        type='checkbox',
        name=params.name,
        value=params.value,
        checked=params.checked,
      )
      span.input__decorator
      .input__label=params.label
  else
    input.input__field(
      type=params.type,
      name=params.name,
      placeholder=params.placeholder,
      pattern=params.pattern,
      required=params.required,
    )
