mixin input(params)
  label.input.my-3
    .input__wrap.input__wrap--between
      span.input__title=params.label
      if (params.desc)
        span.input__desc=params.desc

    -
    if (params.type === 'checkbox')
      each item in params.items
        label.input__wrap
          input.input__checkbox(
            type=params.type,
            name=item.name,
            value=item.value,
            checked=item.checked,
          )
          .input__label=item.label
    else if (params.type === 'radio')
      .input__wrap
        each item in params.items
          label.input__wrap
            input.input__radio(
              type=params.type,
              name=item.name,
              value=item.value,
            )
            .input__label=item.label
    else if (params.type === 'toggle')
      each item in params.items
        label.input__wrap.input__wrap--toggle
          input.input__toggle(
            type='checkbox',
            name=item.name,
            value=item.value,
            checked=item.checked,
          )
          span.input__decorator
          .input__label=item.label
    else
      input.input__field(
        type=params.type,
        name=params.name,
        placeholder=params.placeholder,
        pattern=params.pattern,
        required=params.required,
      )
